#--------------------------------------------------------------------------------------------------#
#                                       ENVIRONMENT SETTING                                        #
#--------------------------------------------------------------------------------------------------#
COMPOSE_PROJECT_NAME='{COMPOSE_PROJECT_NAME}'
DOMAIN_NAME='{DOMAIN_NAME}'
VIRTUAL_HOST='{DOMAIN_FULL}'
PORT={PORT}
PHP_VERSION='{PHP_VERSION}'
LARAVEL_VERSION='{LARAVEL_VERSION}'
APP_URL='https://{DOMAIN_FULL}'

# Login at /login. Breeze asks for the email, not a username.
LOGIN_EMAIL='developer@example.com'
LOGIN_PASSWORD='developer'

#--------------------------------------------------------------------------------------------------#
#                                   DATABASE SETTINGS                                              #
#--------------------------------------------------------------------------------------------------#
MYSQL_HOST='{DOMAIN_NAME}-mysql'
MYSQL_ROOT_USER='root'
MYSQL_ROOT_PASSWORD='PassWorD123'
MYSQL_DATABASE='{DB_NAME}'
MARIADB_ROOT_PASSWORD='PassWorD123'
MARIADB_DATABASE='{DB_NAME}'

DB_HOST="${MYSQL_HOST}"
DB_USER="${MYSQL_ROOT_USER}"
DB_PASSWORD="${MYSQL_ROOT_PASSWORD}"
DB_NAME="${MYSQL_DATABASE}"

PMA_VIRTUAL_HOST={DOMAIN_FULL}.phpmyadmin
PMA_ABSOLUTE_URI=http://{DOMAIN_FULL}.phpmyadmin
PMA_ARBITRARY=1
PMA_HOST=${MYSQL_HOST}
PMA_PORT=3306
PMA_USER="${MYSQL_ROOT_USER}"
PMA_PASSWORD="${MYSQL_ROOT_PASSWORD}"

#--------------------------------------------------------------------------------------------------#
#                                   SMTP SETTINGS                                                  #
#--------------------------------------------------------------------------------------------------#
SMTP_VIRTUAL_HOST={DOMAIN_FULL}.mail
MAIL_HOST='{DOMAIN_NAME}-mail'
MAIL_PORT=1025
